/* mix */
.center {
   text-align: center;
}
.list-style-none {
   list-style-type: none;
}
.decor-none {
   text-decoration: none;
   transition: .1s;
}


/* class */
.body {
   font-family: 'Courier New', Courier, monospace;
   font-size: 16px;
   line-height: 1;
   margin: 0;
}
.container {
   max-width: 1560px;
   margin: 0 auto;
}
.nav {
   position: sticky;
   top: 0;
   z-index: 1;
}
.nav-list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #333;
   min-height: 75px;
   margin: 0;
   padding: 0;
}
.nav-list__link {
   color: #fff;
   font-size: 1.3rem;
   font-weight: 600;
   padding: 1.5rem;
}
.nav-list__link:hover {
   background-color: #38a14a;
}
.header__title {
   font-size: 2.5rem;
   color: #333;
}
.flex {
   display: flex;
   justify-content: space-evenly;
   flex-flow: row wrap;
   padding: 0 1rem;
}
.wrap {
   width: 300px;
   padding-bottom: .5rem;
}
.wrap__title {
   color: #df261f;
   font-size: 1.4rem;
}
.list__link {
   display: inline-block;
   padding: .5rem;
   color: #333;
}
.list__link:hover {
   outline: 2px dashed #df261f;
}
.copy {
   font-size: .8rem;
}


.content__title {
   font-size: 1.8rem;
   color: #df261f;
}