/* ==============================================
   Стили прописывались от главной страницы
   и выполнялнялись по методологии БЭМ 
=============================================== */
/* @import url(common.block/body/body.css);
@import url(common.block/container/container.css);
@import url(common.block/nav/nav.css);
@import url(common.block/nav-list/nav-list.css);
@import url(common.block/nav-list/nav-list__link.css);
@import url(common.block/header/header__title.css);
@import url(common.block/content/content.css);
@import url(common.block/block/block.css);
@import url(common.block/block/block__title.css);
@import url(common.block/block-list/block-list.css);
@import url(common.block/block-list/block-list__link.css);
@import url(common.block/copy/copy.css); */
/* =========================
    Стили других страниц 
=========================== */
/* @import url(common.block/section/section.css);
@import url(common.block/section/section--size-s.css);
@import url(common.block/section/section__title.css);
@import url(common.block/section/section__cite.css);
@import url(common.block/section/section__link.css);
@import url(common.block/section/section--size.css); */

@import url(base/fonts/stylesheet.css);

html {
    height: 100%;
}
.body {
    margin: 0;
    height: 100%;
    background-color: #eee;
    font-family: Acrom;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.nav {
    height: min(100%, 4rem);
    background-color: #333;
}
.nav-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav-list__link {
    color: #eee;
    display: inline-block;
    padding: 1.2rem;
    width: 15rem;
    margin: 0 .2rem;
    text-decoration: none;
    transition: .3s;
    box-sizing: border-box;
}
.nav-list__link--back {
    text-align: end;
}
.nav-list__link--back::before {
    content: "На главную";
    text-transform: uppercase;
    margin-right: 1.4rem;
    display: none;
}
.nav-list__link--next::after {
    content: "К портфолио";
    text-transform: uppercase;
    margin-left: 1.4rem;
    display: none;
}
.nav-list__link--back:hover::before {
    display: inline;
    color: rgb(80, 133, 225);
}
.nav-list__link--next:hover::after {
    display: inline;
    color: rgb(80, 133, 225);
}
.header {
    background-color: rgb(80, 133, 225);
}
.header__title {
    text-align: center;
    font-size: 3rem;
    color: #eee;
}
.main {
    flex: 1;
}
.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.content-list {
    list-style-type: none;
}
.content-list__link {
    display: block;
    padding: .2rem;
    text-decoration: none;
    color: rgb(80, 133, 225);
    transition: .3s;
}
.content-list__item:hover {
    list-style-type: square;
}
.content-list__link:hover {
    text-decoration: underline;
}

.footer {
    background-color: #333;
}
.copy {
    font-size: .8rem;
    color: #eee;
    text-align: center;
}



