/* --- variable --- */
:root {
    --1: #02bcc3;
    --2: #39e3cd;
    --3: #efefef;
    --4: #3b4543;
}

/* --- page --- */
body {
    font-family: Comfortaa;
    font-size: 100%;
    background-color: var(--3);
    color: var(--4);
}

/* --- container --- */
.container {
    max-width: 1200px;
    width: 100%;
    height: 95vh;
    margin: 10px auto;

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    gap: 50px;
}

/* --- iframe --- */
.window > iframe {
    width: 100%;
    height: 100%;
}

/* --- section > title --- */
.nav-bar__item > h1 {
    font-weight: bold;
}

/* --- links --- */
.nav-bar__link {
    display: block;
    padding: 4px 12px;
    color: var(--3);
    background-color: var(--4);

    border-radius: 3px;
    text-decoration: none;

    transition: .15s;
}
.nav-bar__link:hover {
    color: var(--3);
    background-color: var(--1);
}
.nav-bar__link + .nav-bar__link {
    margin-top: 4px;
}







