
/* --- variable --- */
:root {
  --black: #333;
  --white: #eee;
  --tomato: #ff6347;
}

/* --- page --- */
body {
  font-family: Comfortaa;
  font-size: 100%;
}

/* --- common container --- */
.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto;
  gap: 24px;

  max-width: 1200px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

/* --- iframe [window for contents] --- */
.iframe {
  width: 100%;
  max-height: 650px;
  height: 100%;
  margin-top: 12px;
}

/* --- nav --- */
.nav {
  margin-top: 12px;
  padding-right: 12px;

  overflow-y: scroll;
}

/* --- title nav --- */
.nav__title {
  padding-inline: 8px;

  font-size: 32px;
  text-align: center;

  background-color: var(--tomato);
}

/* --- list --- */
.nav__list { 
  list-style-type: none; 
  
  border-left: 4px solid var(--tomato);
}

/* --- link --- */
.nav__link {
  display: block;
  padding: 4px 8px;

  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: var(--b);

  transition: font-size .3s;
}
.nav__link:hover { 
  font-size: 20px; 
  color: var(--tomato);
}

/* ---  --- */