/* =======================
       reset browser 
===========================*/
* { 
   /* сброс отступов внутренних и внешних */
   margin: 0;
   padding: 0;
   /* установка блочных размеров */
   box-sizing: border-box;
}
*:before,
*:after {
   /* установка блочных размеров */
   box-sizing: border-box;
}
header,
nav,
main,
section,
article,
aside,
footer,
details {
   /* устанавливаем тегам блочный тип */
   display: block;
}
img,
embed, 
iframe,
audio,
video {
   /* устанавливаем адаптивный размер */
   height: auto;
   width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: 100%;
   font-weight: normal;
}
small {
   /* установка размера текста */
   font-size: 80%;
}
table {
   /* устанавливаем в таблицах рамку */
   border-collapse: collapse;
   border-spacing: 0;
}
td,
th {
   /* устанавливаем расположение текста в ячейках таблицы */
   padding: 0;
   text-align: left;
}

