.section-box__link {
   display: inline-block;
   font-style: italic;
   padding: .5rem;
   color: #333;
   text-decoration: none;
   transition: .3s;
}

.section-box__link:hover {
   font-weight: 600;
   font-size: 1.2rem;
   color: rgb(80, 133, 225);
}