/*===============================
   Мини-сброс браузера
=============================== */
@import url(reset.css);

/*===========================
   Переменные
===========================*/
:root {
   --font: 16px / 1 Acrom;

   --white: #ffffff;
   --black: #000000;
   --tomato: tomato;
   --grey-middle: dimgray;
   --green-dark: darkolivegreen;
}
/*=========================
   Стили для BODY
============================*/
.body {
   width: 100%;
   height: 100%;

   font: var(--font);

   color: var(--black); 

   background-color: var(--white);  
}
/*============================

===============================*/