/* Сброс стилей браузера */
@import url(reset.css);

/* Переменные */
:root {
   --bg: #f3f3f3; /* Цвет фона */
   --bg-frame: hsl(0, 0%, 62%); /* Цвет для границы */
   --color-dark: hsl(0 0% 13% / 1); /* Цвет текста светлом фоне */
   --color-light: #f3f3f3; /* Цвет текста на темном фоне*/
   --bg-effect-blue: #00859f; 
   --bg-effect-tan: #9d6e34; 
   --font: 16px / 1 Verdana, Tahoma, Geneva, sans-serif; /* шрифт текста */
   --font-title: Georgia, 'Times New Roman', Times, serif; /* шрифт заголовков*/
}
.page {
   font: var(--font);
   background-color: var(--bg);
   color: var(--color-dark);
   width: 100%;
   height: 100%;
}
h1, h2, h3, h4, h5, h6 {
   font-family: var(--font-title);
}
.container {
   max-width: 1200px;
   margin: 0 auto;
}
.box-nav, .box-content {
   padding: 24px;
}
.box-nav {
   width: 299px;
   height: 100%;
   display: block;
   position: fixed;
   border-right: 1px solid var(--bg-frame);
}
.box-content {
   max-width: 900px;
   margin-left: 300px;
   height: 100vh;
   display: flex;
   flex-flow: column wrap;
   justify-content: space-between;
}
.header {
   flex: 1 1 0;
}
.contact {
   text-align: center;
}
.info  li {
   display: inline-block;
}