/* Шрифт */
@import url(fonts/stylesheet.css);

/* Директива блоков */
@import url(common.block/wrapper/wrapper.css);
@import url(common.block/container/container.css);
@import url(common.block/nav/nav.css);
@import url(common.block/nav-list/nav-list.css);
@import url(common.block/nav-list/nav-list__item.css);
@import url(common.block/nav-list/nav-list__link.css);
@import url(common.block/header/header.css);
@import url(common.block/header/header__title.css);
@import url(common.block/main/main.css);
@import url(common.block/flex/flex.css);
@import url(common.block/content/content.css);
@import url(common.block/content-list/content-list.css);
@import url(common.block/content-list/content-list__item.css);
@import url(common.block/content-list/content-list__link.css);
@import url(common.block/section/section.css);
@import url(common.block/section/section__code.css);
@import url(common.block/section-box/section-box.css);
@import url(common.block/section-box/section-box__link.css);
@import url(common.block/footer/footer.css);
@import url(common.block/copy/copy.css);


/* Правила вне методологии */

html {
    height: 100%;
    color: #333;
    background-color: #eee;
    font-family: Acrom;
}
.body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}



