/* --- variable --- */
:root {
    --1: #11999E;
    --2: #30E3CA;
    --3: #E4F9F5;
    --4: #40514E;
}

/* --- page --- */
body {
    font-family: Comfortaa;
    font-size: 100%;
    background-color: var(--3);
    color: var(--4);
}

/* --- container --- */
.container {
    max-width: 1200px;
    width: 100%;
    height: 95vh;
    margin: 10px auto;

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    gap: 50px;
}

/* --- title --- */
h1 {
    font-weight: bold;
}

/* --- iframe --- */
.window > iframe {
    width: 100%;
    height: 100%;
}

/* --- links --- */
.nav-bar__item > a {
    display: block;
    padding: 4px 12px;
    color: var(--3);
    background-color: var(--4);

    border-radius: 5px;
    text-decoration: none;

    transition: .15s;
}
.nav-bar__item > a:hover {
    color: var(--3);
    background-color: var(--1);
}
.nav-bar__item > a + a {
    margin-top: 4px;
}







