/*=========================
   MIX-class
===========================*/
.text-center {
   text-align: center;
}






/*===========================
   Styles page
============================*/
::selection {
   background-color: black;
}
.body {
   background-color: hsla(148 61% 49% / 1);
   color: hsla(0 0% 98% / 1);
   font-family: 'Courier New', Courier, monospace;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
}
.header__title {
   font-size: 2.2rem;
   line-height: 1.2;
}
.nav {
   padding: 2rem;
}
.flex {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   gap: 1rem;
}
.wrap {
   width: 300px;
}
.wrap__title {
   font-size: 1.5rem;
}
.list {
   list-style-type: none;
}
.list__link {
   display:inline-block;
   padding: .5rem;
   color: rgb(237, 237, 237);
   text-decoration: none;
   position: relative;
}
.list__link:hover {
   outline: 2px dashed white;
}
.list__link::before {
   content: "->";
   position: absolute;
   display: none;
}
.list__link:hover::before {
   display: block;
}






.footer-copy {
   font-size: .8rem;
}