.page {
   font-size: 16px;
   color: #f5f8ff;
   background-color: #222;
   position: relative;
}
.container {
   max-width: 800px;
   margin: 24px auto;
}
.nav {
   width: 300px;
   padding: 24px 0 0 24px;
   position: fixed;
   left: 0;
   top: 0;
   bottom: 0;
   overflow: auto;
}






.header {
   padding: 16px;
   color: #222;
   background-color: #eee;
}
.header__title {
   font-size: 5rem;
   font-weight: 300;
   font-family: cursive;
   text-align: center;
}
.header__intro {
   font-size: 1.6rem;
   font-family: sans-serif;
   text-align: center;

}






.footer {
   margin-top: 24px;
   font-size: .8rem;
   letter-spacing: 2px;
   font-family: cursive;
   text-align: center;
}