.nav-list__link {
    color: #eee;
    display: block;
    width: 8rem;
    text-decoration: none;
    transition: .3s;
    box-sizing: border-box;
}

.nav-list__link:hover {
   font-size: 1.4rem;
   color: rgb(80, 133, 225);
}